extends layout

block content
  h1= title

  - let medicineid = toShow._id
  - let medicinetype = toShow.medicinetype
  - let medicinecost = toShow.cost
  - let medicinename = toShow.name
  div
    div.row
      div(class='medicineAttr mr-3') medicine ID is:
      div #{medicineid}
    div.row
      div(class='medicineAttr mr-3') medicine Type is:
      div #{medicinetype}
    div.row
      div(class='medicineAttr mr-3') medicine cost is:
      div #{medicinecost}
    div.row
      div(class='medicineAttr mr-3') medicine name is:
      div #{medicinename}
