extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let medicineid = toShow._id
    - let medicinetype = toShow.medicinetype
    - let medicinecost = toShow.cost
    - let medicinesize = toShow.size
    - let actionid = "/resource/medicine/" + medicineid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='medicineAttr mr-3') Medicine ID is:
        div #{medicineid}
      div.row
        div(class='medicineAttr mr-3') Medicine Type is:
        div #{medicinetype}
      div.row
        div(class='medicineAttr mr-3') Medicine Size is:
        div #{medicinesize}
      div.row
        div(class='medicineAttr mr-3') Medicine Cost is:
        div #{medicinecost}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/medicine'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/medicine'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
